@media screen and (min-width: 1024px) {
    body {
        background-color: rgba(29, 28, 28, 0.89);
        margin: auto auto auto auto;
        width: 850px;
    }
    nav {
        position: relative;
        margin-right: 20px;;
        text-align: center;
        padding-top: 10px;
    }
    nav a {
        position: relative;
        color: white;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        padding: 20px;
    }
    div img {
        height: 150px;
        width: 150px;
    }
    div>h3 {
        font-weight: bolder;
    }
    div>p {
        font-style: italic;
    }
    button {
        background-color: rgb(68, 68, 68);
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: white;
        padding: 15px;
        margin-bottom: 50px;
    }
    footer {
        padding-top: 10px;
        color: white;
        text-align: center;
    }
    h2 {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: white;
        text-align: center;
        margin: 50px auto auto auto;
    }
    h4 {
        font-weight: bold;
    }

    h5 {
        height: 17px;
        width: 17px;
        text-align: center;
        background-color: darkgreen;
        color:white;
        font-size: normal;
        border-radius: 50%;
    }

    p {
        text-align: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-style: italic;
        color: white;
    }
    p+p {
        font-style: italic;
        font-size: small;
    }
    #category2 {
        padding-bottom: 20px;
    }

    .header {
        padding-top: 75px;
        flex: auto;
        position: relative;
        margin: auto auto auto auto;
    }
    .header img {
        height: 25px;
        width: 25px;
        position: relative;
        top: 5px;
    }
    .header img:hover {
        background-color: rgb(110, 110, 110);
    }
    .header img[alt=logo] {
        width: 100%;
        height: 100%;
        margin: 0 auto 0 auto;
    }
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: auto;
    }
    .container_real {
        margin-left: 15px;
        justify-content: space-evenly;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        color: white;
    }
    .container_real img {
        margin-left: 10px;
        margin-right: 10px;
    }
    .container_notreal {
        margin-left: 15px;
        justify-content: space-evenly;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        color: white;
    }
    .container_notreal img {
        margin-left: 10px;
        margin-right: 10px;
    }

    .header #container_counter {
        padding-left: 655px;
        position: relative;
        top: -120px;
    }

}

@media screen and (max-width: 1024px) {
    body {
        background-color: rgba(29, 28, 28, 0.89);
        margin: auto auto auto auto;
    }
    body div div {
        width: 200px;
    }
    nav {
        position: relative;
        text-align: center;
        padding-top: 10px;
    }
    nav a {
        color: white;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        padding: 20px;
    }
    div img {
        height: 150px;
        width: 150px;
    }
    div>h3 {
        font-weight: bolder;
    }
    div>p {
        font-style: italic;
    }
    button {
        background-color: rgb(68, 68, 68);
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: white;
        padding: 15px;
        margin-bottom: 50px;
    }
    footer {
        padding-top: 10px;
        color: white;
        text-align: center;
    }
    h2 {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: white;
        text-align: center;
        margin: 50px auto auto auto;
    }
    h4 {
        font-weight: bold;
    }

    h5 {
        height: 17px;
        width: 17px;
        text-align: center;
        background-color: darkgreen;
        color:white;
        font-size: normal;
        border-radius: 50%;
    }

    p {
        text-align: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-style: italic;
        color: white;
    }

    p+p {
        font-style: italic;
        font-size: small;
    }
    #category2 {
        padding-bottom: 20px;
    }
    .header {
        padding-top: 0px;
        flex: auto;
        position: relative;
        margin: auto auto auto auto;
    }
    .header img {
        height: 25px;
        width: 25px;
        position: relative;
        top: 5px;
    }
    .header img[alt=logo] {
        width: 75%;
        height: 75%;
        margin: 0 auto 0 auto;
    }
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: auto;
    }
    .container_real {
        margin-left: 15px;
        justify-content: space-evenly;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        color: white;
    }
    .container_real img {
        margin-left: 10px;
        margin-right: 10px;
    }
    .container_notreal {
        margin-left: 15px;
        justify-content: space-evenly;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        color: white;
    }
    .container_notreal img {
        margin-left: 10px;
        margin-right: 10px;
    }

    .header #container_counter {
        padding-left: 625px;
        position: relative;
        top: -120px;
    }
}

@media screen and (max-width: 600px) {
    body {
        background-color: rgba(29, 28, 28, 0.89);
        margin: auto auto auto auto;
    }
    body div div {
        width: 200px;
    }
    nav {
        position: relative;
        text-align: center;
        padding-top: 10px;
    }
    nav a {
        color: white;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        padding: 20px;
    }
    div img {
        height: 150px;
        width: 150px;
    }
    div>h3 {
        font-weight: bolder;
    }
    div>p {
        font-style: italic;
    }
    button {
        background-color: rgb(68, 68, 68);
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: white;
        padding: 15px;
        margin-bottom: 50px;
    }
    footer {
        padding-top: 10px;
        color: white;
        text-align: center;
    }
    h2 {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: white;
        text-align: center;
        margin: 50px auto auto auto;
    }
    h4 {
        font-weight: bold;
    }

    h5 {
        height: 17px;
        width: 17px;
        text-align: center;
        background-color: darkgreen;
        color:white;
        font-size: normal;
        border-radius: 50%;
    }

    p {
        text-align: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-style: italic;
        color: white;
    }

    p+p {
        font-style: italic;
        font-size: small;
    }
    #category2 {
        padding-bottom: 20px;
    }
    .header {
        padding-top: 0px;
        flex: auto;
        position: relative;
        margin: auto auto auto auto;
    }
    .header img {
        height: 25px;
        width: 25px;
        position: relative;
        top: 5px;
    }
    .header img[alt=logo] {
        width: 100%;
        height: 100%;
        margin: 0 auto 0 auto;
    }
    .container_real {
        margin-left: 15px;
        justify-content: space-evenly;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        color: white;
    }
    .container_real img {
        margin-left: 10px;
        margin-right: 10px;
    }
    .container_notreal {
        margin-left: 15px;
        justify-content: space-evenly;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        color: white;
    }
    .container_notreal img {
        margin-left: 10px;
        margin-right: 10px;
    }

    .header #container_counter {
        padding-left: 550px;
        position: relative;
        top: -50px;
    }
}